@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600");

body {
  background-color: #2a2625;
  font-family: "Open Sans", Sans-Serif;
  color: #FFF;
  font-size: 16px;
}

#main {
  padding-top: 150px;
  background: #302b2a url(../images/fun-bk-tile.jpg) repeat-x;
}

#logo {
}

#tagline {
  margin-top: 10px;
  font-size: 2.6em;
}

.omit {
  text-decoration: line-through;
}

#phone {
  background-image: url(../images/phone.png);
  width: 247px;
  height: 499px;
  margin: 0 auto;
  padding-top: 80px;
  margin-bottom: 30px;
  overflow: hidden;
  text-align: center;
}

#phone img {
  padding-top:3em;
  width:80%;
}

#phone img.buttonIcon {
  width:60%;
}

#fun-gif-holder {
  margin: 0 auto;
  width: 166px;
  height: 147px;
  overflow: hidden;
}

#mailing-list {
  margin-top: 40px;
}

.btn-mailing-list {
  background-color: #eab621;
  height: 40px;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 0 30px;
}

#email-input{
  height: 40px;
}

.hide-text {
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
}

footer {
  margin-top: 2em;
  color: #8d8481;
  font-size: 20px;
}

footer a {
  position: relative;
left: 50%;
color: #8d8481;
  text-align: center;
}

footer a:hover {
  color: #8d8481;
  text-decoration: none;
}

footer a.fa  {
  color: #2a2625;
  background-color: #8d8481;
  border-radius: 50%;
  padding: 5px;
  width: 35px;
  height: 30px;
  margin: 0px auto;
}


/* Shortcode */
#shortcode {
  text-align: center;
}

#shortcode .logo{
  padding-top: 3em;
}

#shortcode .logo img{
  height:75px;
}

#shortcode .shortcode-image-container{
  padding:1.5em 1em;
}

#shortcode .shortcode-image img{
  width:100%;
}

#shortcode .shortcode-image{
  padding: 1em;
}

#shortcode textarea{
  background-color: #302b2a;
  border:none;
  width:100%;
  text-align: center;
}

@media(max-width:767px){

  body {
    text-align: center;
  }

  #main {
    padding-top: 20px;
  }

  #mailing-list {
    margin-top: 30px;
  }

  #phone {
    margin-top: 30px;
  }

}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 50px;
  position: relative;
}

.container1 > div, .container2 > div, .container3 > div {
  width: 10px;
  height: 10px;
  background-color: #fff;

  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}



@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600");
@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
.slider{
  position: relative;
left: 20%;
}
.phone {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 500px; }

.slider-list {
  width: 240px;
  padding: 0;
  list-style: none;
  max-width: 100%;
  position: relative; }
  @media screen and (min-width: 460px) {
    .slider-list {
      width: 350px; } }
  @media screen and (min-width: 768px) {
    .slider-list {
      width: 450px; } }
  @media screen and (min-width: 1024px) {
    .slider-list {
      width: 560px; } }

.slide {
  top: 225px;
  position: absolute;
}
  .slide img {
   min-height: 300;
max-width: 300;
min-width: 300;
left: 100px;
position: absolute;
max-height: 300;

}

  
  .agree {
    border-radius: 62px;
top: 660px;
position: absolute;
left: 341px;
height: 121;
width: 122;
-webkit-transition: background-color 400;
       }
.agree:hover {
-webkit-transition: background-color 400;
background-color: rgba(254, 213, 79, 0.7);
 }
 .agree:active{
-webkit-transition: background-color 400;
background-color: rgba(254, 213, 79, 0.30);
 }
  
a.disagree {
  z-index: 300;
border-radius: 62px;
top: 654px;
position: absolute;
height: 121;
width: 122;
left: 43px;
-webkit-transition: background-color 400;
      }
.disagree:hover {
background-color: rgba( 18, 19, 19,.7);
-webkit-transition: background-color 400;
   }

.disagree:active{
background-color: rgba(0, 0, 0, 0.9);
-webkit-transition: background-color 400;
 }
  
.disagree-icon{
    display:none;
  font-family: Comic Sans MS;
  left: 125px;
width: 110;
top: 280px;
font-size: 18;
border-width: 5px;
border-color:black;
background-color: white;
border-radius: 12;
padding: 10;
z-index: 616;
-webkit-transform: rotate(-10deg);
position: absolute;
  color:black;
}
.dIconactive, .disagree-icon:active{
visibility:visible; 
transition: opacity 1s;
opacity:1;
}

.agree-icon{
  display:none;
  width:110px;
  font-family:Comic Sans MS;
  left: 280px;
  top: 280;
  font-size: 18;
  border-width: 5px;
  border-color:rgb(254, 213, 79);
  background-color: white;
  border-radius: 12;
  padding: 10;
  z-index: 616;
  -webkit-transform: rotate(10deg);
  position: absolute;
  color:rgb(254, 213, 79);
}
.aIconactive, .agree-icon:active{
visibility:visible; 
transition: opacity 1s;
opacity:1;
}
  

#buttonIcon{
left: 44px;
position: relative;
width:420;
top:653px;
}