@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600");

@font-face {
  font-family: 'GothamRounded-Bold';
  src: url('GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),  url('GothamRounded-Bold.otf')  format('opentype'),
       url('GothamRounded-Bold.woff') format('woff'), url('GothamRounded-Bold.ttf')  format('truetype'), url('GothamRounded-Bold.svg#GothamRounded-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamRounded-MediumItalic';
  src: url('GothamRounded-MediumItalic.eot?#iefix') format('embedded-opentype'),  url('GothamRounded-MediumItalic.otf')  format('opentype'),
       url('GothamRounded-MediumItalic.woff') format('woff'), url('GothamRounded-MediumItalic.ttf')  format('truetype'), url('GothamRounded-MediumItalic.svg#GothamRounded-MediumItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #2a2625;
  font-family: "Open Sans", Sans-Serif;
  color: #FFF;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

#main,
#thank-you {
  background: #302b2a url(../images/fun-background-full.png) repeat-x;
}

#main {
  padding-top: 100px;
}

#logo {
  position: relative;
  max-width: 100%;
}

#tagline {
  font-family: 'GothamRounded-Bold', 'Open Sans', sans-serif;
  margin-top: 30px;
  font-size: 2.4em;
}
h5, #mc-embedded-subscribe {
  font-family: 'GothamRounded-Bold', 'Open Sans', sans-serif;
}

.omit {
  text-decoration: line-through;
}

#phone {
  background-image: url(../images/mobile_with_swipe_base.png);
  border-radius: 36px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  margin: 0 auto 30px;
  padding-top: 95px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 246px;
  height: 510px;
  user-select: none;
  -webkit-user-select: none;
}

.phone__controls {
  color: #fff;
  font-size: 20px;
  line-height: 46px;
  text-align: center;
  position: absolute;
  bottom: 80px;
  width: 100%;
}
  .phone__controls__btn {
    border: 2px solid;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    margin: 0 2px;
    width: 50px;
    height: 50px;
  }
  .phone__controls__btn.pass {
    background: #000;
    border-color: #000;
  }
  .phone__controls__btn.pass:hover {
    background: #fff;
    color: #000;
  }
  .phone__controls__btn.share {
    border-color: transparent;
  }
  .phone__controls__btn.fave {
    background: #FED54F;
    border-color: #FED54F;
  }
  .phone__controls__btn.fave:hover {
    background: #fff;
    color: #FED54F;
  }
  .phone__controls__btn:hover,
  .phone__controls__btn:visited ,
  .phone__controls__btn:active {
    color: #fff;
  }


#fun-gif-holder {
  margin: 0 auto;
  width: 166px;
  height: 147px;
  overflow: hidden;
}

#mailing-list {
  margin-top: 100px;
}

.btn-mailing-list {
  background-color: #eab621;
  height: 40px;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 0 30px;
}

#email-input{
  height: 40px;
}

.hide-text {
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
}

footer {
  margin-top: 2em;
  color: #8d8481;
  font-size: 20px;
}

footer a {
  color: #8d8481;
  text-align: center;
}

footer a:hover {
  color: #8d8481;
  text-decoration: none;
}

footer a.fa  {
  color: #2a2625;
  background-color: #8d8481;
  border-radius: 50%;
  padding: 5px;
  width: 35px;
  height: 30px;
  margin: 0px auto;
}


/* Shortcode */
#shortcode {
  text-align: center;
}

#shortcode .logo{
  padding-top: 3em;
}

#shortcode .logo img{
  height:75px;
}

#shortcode .shortcode-image-container{
  padding:1.5em 1em;
}

#shortcode .shortcode-image img{
  width:100%;
}

#shortcode .shortcode-image{
  padding: 1em;
}

#shortcode textarea{
  background-color: #302b2a;
  border:none;
  width:100%;
  text-align: center;
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 50px;
  position: relative;
}

.container1 > div, .container2 > div, .container3 > div {
  width: 10px;
  height: 10px;
  background-color: #fff;

  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/*start slide css*/
  
.slider-list {
  list-style: none;
  margin: 0 17px;
  padding: 0;
  position: relative;
  width: 212px;
}
  .slider-list .slide {
    border-radius: 10px;
    cursor: move;
    overflow: hidden;
    margin: 8px;
    position: absolute;
    left: 0;
    top: 0;
    width: 197px;
  }
    .slider-list .slide .slide-img {
      background-size: cover;
      height: 212px;
    }
    .slider-list .slide .slide-title {
      background: #fff;
      color: #000;
      font-size: 14px;
      padding: 8px 10px;
      text-align: left;
    }

/*THANK YOU PAGE*/

#thank-you {
  background-repeat: repeat;
}

#thank-you > section {
  padding-top: 60px;
}

#thank-you h3 {
  font-family: 'GothamRounded-Bold', 'Open Sans', sans-serif;
}

#thank-you p {
  font-size: 1.5em;
  font-family: 'GothamRounded-MediumItalic', 'Open Sans', sans-serif;
}

#thanks-text {
  color: #E8B522;
  margin: 40px 0;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 900;
}

#cheering-minons {
  margin-bottom: 50px;
  max-width: 400px;
}

#mc-embedded-subscribe {
  width: 100%;
}

#social-icons {
  color: #E8B522;
  margin-top: 40px;
  margin-bottom: 40px;
}

#social-icons a {
  color: #E8B522;
  text-decoration: none;
}

#social-icons a:hover {
  color: #E8B522;
  text-decoration: none;
}

#social-icons .list-inline > li {
  margin: 0 20px;
}

.landing__phone {
  background: url("../images/mobile_with_swipe.png") center 0 no-repeat;
  background-size: contain;
  margin: 30px 0 40px 0;
  padding: 45px 10px 0 10px;
  width: 100%;
  height: 400px;
}

@media(max-width:991px) {

  #main {
    background-repeat: repeat;
  }

  #mailing-list {
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 40px;
  }
}

/* tablet */
@media(max-width:767px) {

  body {
    text-align: center;
  }

  #main {
    padding-top: 30px;
  }

  #mailing-list {
    margin-top: 14px;
  }

  #phone {
    margin-top: 30px;
  }

  #tagline {
    font-size: 2em;
    text-align: center;
    padding-top: 20px;
  }

  #mc-embedded-subscribe {
    margin-top: 10px;
  }
}

/* mobile */
@media(max-width:440px) {

  #thank-you > section {
    padding-top: 20px;
  }

  #thanks-text {
    font-size: 1.3em;
    margin: 60px 0;
  }

  #cheering-minons {
    margin-bottom: 40px;
  }

  #thank-you p {
    font-size: 0.8em;
  }

  #social-icons {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  #email-input {
    text-align: center;
  }

  #mailing-list {
    margin-top: 0;
    margin-bottom: 10px;
  }

  #tagline {
    font-size: 1.3em;
    line-height: 1.2em;
    padding: 0 20px 0;
  }

  .list-inline {
    margin-bottom: 40px;
  }
}
