body {
  background-color: #2a2625;
  font-family: "Times New Roman", Serif;
  color: #FFF;
  font-size: 16px;
}

#main {
  padding-top: 150px;
  background: #302b2a url(../images/fun-bk-tile.jpg) repeat-x;
}

#logo {
}

#tagline {
  margin-top: 10px;
  font-size: 2.6em;
}

.omit {
  text-decoration: line-through;
}

#phone {
  background-image: url(../images/phone.png);
  width: 247px;
  height: 499px;
  margin: 0 auto;
  padding-top: 80px;
  margin-bottom: 30px;
}

#fun-gif-holder {
  margin: 0 auto;
  width: 166px;
  height: 147px;
  overflow: hidden;
}

#mailing-list {
  margin-top: 40px;
}

#mailing-list .btn-mailing-list {
  background-color: #eab621;
  height: 40px;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 0 30px;
}

#email-input{
  height: 40px;
}

.hide-text {
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
}

footer {
  margin-top: 2em;
  color: #8d8481;
  font-size: 20px;
}

footer a {
  color: #8d8481;
  text-align: center;
}

footer a:hover {
  color: #8d8481;
  text-decoration: none;
}

footer a.fa  {
  color: #2a2625;
  background-color: #8d8481;
  border-radius: 50%;
  padding: 5px;
  width: 35px;
  height: 30px;
  margin: 0px auto;
}


/* Shortcode */
#shortcode {
  text-align: center;
}

#shortcode .logo{
  padding-top: 3em;
}

#shortcode .logo img{
  height:75px;
}

#shortcode .shortcode-image-container{
  padding:1.5em 1em;
}

#shortcode .shortcode-image img{
  width:100%;
}

#shortcode .shortcode-image{
  padding: 1em;
}

#shortcode textarea{
  background-color: #302b2a;
  border:none;
  width:100%;
  text-align: center;
}

@media(max-width:767px){

  body {
    text-align: center;
  }

  #main {
    padding-top: 20px;
  }

  #mailing-list {
    margin-top: 30px;
  }

  #phone {
    margin-top: 30px;
  }

}
