{% extends "base.html" %}

{% block body_attr %} class="page__thank-you"{% endblock %}

{% block body %}
<section class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-4 col-md-12">
        <img id="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Fun logo" />
      </div>
      <div class="col-xs-12" style="color: #E8B522;">
        <h3>Terms of Service</h3>
        
        GIPHY DMCA COPYRIGHT POLICY

        Giphy, Inc. ("Company") has adopted the following general policy toward copyright infringement in accordance with the Digital Millennium Copyright Act ("http://http://lcweb.loc.gov/copyright/legislation/dmca.pdf"). The address of the Designated Agent to Receive Notification of Claimed Infringement ("Designated Agent") is listed at the end of this policy.

        Procedure for Reporting Copyright Infringement:

        If you believe that material or content residing on or accessible through Company's websites or services infringes a copyright, please send a notice of copyright infringement containing the following information to the Designated Agent listed below:

        A physical or electronic signature of a person authorized to act on behalf of the owner of the copyright that has been allegedly infringed;
        Identification of works or materials being infringed;
        Identification of the material that is claimed to be infringing including information regarding the location of the infringing materials that the copyright owner seeks to have removed, with sufficient detail so that Company is capable of finding and verifying its existence;
        Contact information about the notifier including address, telephone number and, if available, e-mail address;
        A statement that the notifier has a good faith belief that the material is not authorized by the copyright owner, its agent, or the law; and
        A statement made under penalty of perjury that the information provided is accurate and the notifying party is authorized to make the complaint on behalf of the copyright owner.
        If we receive a takedown notice in accordance with the foregoing, we will remove the material cited in the notice and attempt to notify any user who uploaded the allegedly infringing material if we have their contact information. Any such user will have the opportunity to submit a “counter-notice” as set forth below. If we identify any user as a “repeat infringer,” we will remove material that user has uploaded and terminate any accounts that user has with us.

        Procedure to Deliver Counter-Notice:

        If any user believes any material removed is either not infringing or that such user has the right to post and use such material from the copyright owner, the copyright owner’s agent, or pursuant to the law, the user must send a counter-notice containing the following information to the Designated Agent listed below:

        A physical or electronic signature of the user;
        Identification of the material that has been removed and the location at which the material appeared before it was removed;
        A statement that the user has a good faith belief that the material was removed as a result of mistake or a misidentification of the material; and
        The user's name, address, telephone number, and, if available, e-mail address and a statement that such person or entity consents to the jurisdiction of the Federal Court for the judicial district in which the user's address is located, or if the user's address is located outside the United States, for any judicial district in which Company is located, and that such person or entity will accept service of process from the person who provided notification of the alleged infringement.

        If a counter-notice is received by the Designated Agent, Company will forward a copy of the counter-notice to the original complaining party informing that person that Company may restore the removed material following 10 days. The original complaining party will then have 10 days to notify us that he or she has filed legal action relating to the allegedly infringing material. If Company does not receive any such notification within 10 days, we may restore the material, at our discretion.

        Please contact the Designated Agent to Receive Notification of Claimed Infringement for Company at dmca@giphy.com or at: 

        Copyright Department
        Giphy, Inc.
        29 Little West 12th Street
        New York, NY 10014
      </div>

      <div class="col-xs-12">
        <h3 id="thanks-text">Thanks for signing up!</h3>
        <img id="cheering-minons" src="{{ url_for('static', filename='images/cheering-minions.gif') }}" alt="Cheering Minons" width="100%" />
        <p>We promise you a lot of fun coming soon :)</p>
      </div>
    </div>
  </div>
</section>
<div id="social-icons">
  <nav class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="list-inline">
          <li><a href="#" class="fa fa-twitter fa-2x"></a></li>
          <li><a href="#" class="fa fa-facebook fa-2x"></a></li>
          <li><a href="#" class="fa fa-google-plus fa-2x"></a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
{% endblock %}

